h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: sticky;
    top: 50%;
    left: 50%;
    z-index: 1;
    color: azure;
  }

.video-container video {
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  #bgvideo {
    position: fixed;
    min-width: 0;
    min-height: 0;
  }